<div class="header">
  <span (click)="goToReturn()">Airline app</span>
  <span class="right" routerLink="/return"> return </span>
  <span class="right" routerLink="/templateForm"> Template driven forms </span>
  <span class="right" routerLink="/reactiveForms"> Reactive forms </span>
</div>
