.header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: darkslategrey;
  color: azure;
  margin-left: 0px;
}

.right {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  outline: none;
}
