<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <input
      type="text"
      name="email"
      placeholder="enter your email id"
      formControlName="userNameControl"
    />
    <p
      class="error"
      *ngIf="
        !userForm.controls.userNameControl.hasError('email') &&
        userForm.controls.userNameControl.hasError('required')
      "
    >
      user name is required
    </p>
    <p
      class="error"
      *ngIf="
        userForm.controls.userNameControl.hasError('email') &&
        !userForm.controls.userNameControl.hasError('required')
      "
    >
      user name should be an email
    </p>
  </div>

  <div>
    <input
      type="password"
      name="password"
      placeholder="enter your password"
      formControlName="passwordControl"
    />
    <p
      class="error"
      *ngIf="userForm.controls.passwordControl.hasError('required')"
    >
      password is required
    </p>
  </div>
  <button type="submit">Submit</button>
</form>
