<label>user name : </label>
<input [(ngModel)]="userName" name="user name" />
<p *ngIf="isuserNameEmpty" class="error">{{ userErrorMsg }}</p>
<div>
  <label>password : </label>
  <input [(ngModel)]="password" name="password" type="password" />
  <p *ngIf="isPasswordError" class="error">{{ passwordErrorMsg }}</p>
</div>
<button (click)="submitForm()">submit</button>
