<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <p>{{ inputPost.title | uppercase }}</p>
  <p>{{ inputPost.id | sqrt }}</p>
  <mat-card-content>
    <p>
      {{ inputPost.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="liked(inputPost.title)">LIKE</button>
    <button mat-button (click)="shared(inputPost.title)">SHARE</button>
  </mat-card-actions>
</mat-card>
