<p>{{ today | date: "dd/MM/yyyy" }}</p>
<p>{{ textFromComponent }}</p>
<input [(ngModel)]="additional" />
<p>{{ count }}</p>
<button (click)="incrementCount()">increment</button>
<div *ngFor="let city of cities">
  <p>{{ city }}</p>
</div>

<div *ngFor="let user of users">
  <p>
    {{ user.id }} :
    <span *ngIf="showName" style="background-color: aqua">{{ user.name }}</span>
  </p>
</div>
<button (click)="showUsers()">{{ btnText }}</button>

<div *ngFor="let post of posts">
  <app-child
    [inputPost]="post"
    (outputPost)="eventFromChild($event)"
  ></app-child>
</div>
